$color-primary: rgba(147, 86, 220);
$color-secondary: rgba(255, 121, 218);
$color-tertiary: rgba(153, 226, 208);
$extra-color : rgb(246,246,246);

$police-txt: "roboto";
$police-title: "shrikhand";

$breakpoints: (
    mobile: 767px,
    tablette: 991px,
    desktop: 992px,
);
