.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 10px;
    &__link {
        position: absolute;
        top: 30px;
        left: 40px;
        text-decoration: none;
        font-size: 40px;
        color: black;
        @include mobile-only {
            font-size: 30px;
            top: 37px;
            left: 20px;
        }
    }
    &__logo {
        width: 250px;
        @include tablette-only {
            width: 430px;
        }
        @include desktop {
            width: 430px;
        }
    }
    @include tablette-only {
        height: 110px;
        display: flex;
        align-items: baseline;
    }
    @include desktop {
        height: 110px;
        display: flex;
        align-items: baseline;
    }
}
