header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 10px;
}

header a {
    position: absolute;
    top: 30px;
    left: 40px;
    text-decoration: none;
    font-size: 40px;
}

.header-logo{
    width: 280px;
}
